@{
    ViewBag.Title = "Search";
}

<html>
<body>

    <h2>AVAILABILITY</h2>

    <form action="/action_page.php">
        SOURCE:<br>
        <input type="text" name="source" id="source">
        <br>
        DESTINATION:<br>
        <input type="text" name="destination" id="destination">
        <br>
        DATE OF JOURNEY:<br>
        <input type="text" name="destination" id="destination">
        <br>
        NO OF PASSENGERS:<br>
        <input type="text" name="destination" id="destination">
        <br><br>
        <input type="submit" value="SEARCH">
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>
