@model TrainReserveSystem.Models.Passenger_Details

@{
    ViewBag.Title = "PassDetails";
}


<html>
<body>
    <div class="form-horizontal">
        <h2>PASSENGER DETAILS</h2>

        @using (Html.BeginForm("confirmbooking","Passenger_Details"))
        {
            @Html.AntiForgeryToken()
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Mobile Number</th>
                <th>Email</th>
            </tr>
        </thead>
        @for (int i = 1; i <= (int)Session["passengercount"]; i++)

        {
            if(i==1)
            {
                <tr>
                    <td><input type="text" name="firstname" id="firstname"></td>
                    <td><input type="text" name="lastname" id="lastname"></td>
                    <td><input type="text" name="age" id="age"></td>
                    <td><input type="text" name="address" id="address"></td>
                    <td><input type="text" name="mobilenumber" id="mobilenumber"></td>
                    <td><input type="text" name="email" id="email"></td>
                </tr>
            }
            if (i == 2)
            {
                <tr>
                    <td><input type="text" name="firstname2" id="firstname2"></td>
                    <td><input type="text" name="lastname2" id="lastname2"></td>
                    <td><input type="text" name="age2" id="age2"></td>
                    <td><input type="text" name="address2" id="address2"></td>
                    <td><input type="text" name="mobilenumber2" id="mobilenumber2"></td>
                    <td><input type="text" name="email2" id="email2"></td>
                </tr>
            }
        }
        
    </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="confirmbooking" class="btn btn-default" />
                </div>
            </div>

        }
        <!-- <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p> -->
        
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</body>
</html>